<div ng-controller="QueueController as queue">

  <form method="POST" action="/queue/join">
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
    <textarea name="fitting"></textarea>
    <button><%= __("Join") %></button>
  </form>

  <ul>
    <li ng-repeat="pilot in pilots|orderBy:createdAt">{{ pilot.createdAt|date:'h:mm:ss' }} - <span ng-bind-html="pilot|character"></span></li>
  </ul>
</div>
