{% extends 'base.html' %}

{% block content %}
<div class="well">
<form method="POST" class="form-inline" enctype="multipart/form-data">
  <legend>Авторизоваться под другим пользователем</legend>
  {% module xsrf_form_html() %}
  <input type="hidden" name="action" value="fake_character" />
  <div class="form-group">
    <input type="text" class="form-control" name="charname" />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Авторизоваться</button>
  </div>
</form>
</div>
{% end %}
