<!DOCTYPE html>
<html ng-app="efqApp">

  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>

    <script>
    function getCookie(name) {
      var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
      return r ? r[1] : undefined;
    }
    function deleteCookie(name) {
      document.cookie = name+'="";-1; path=/';
    }
    $.ajaxSetup({headers: {'X-XSRFToken': getCookie("_xsrf")} });

    var efq = angular.module('efqApp', []);

    {% if character and character.is_fc %}
    efq.filter('character', function($sce) {
      return function(data) {
        return $sce.trustAsHtml(
          '<a class="igb" href="javascript:CCPEVE.showInfo(1377, ' + data.charid + ')">' + data.name.replace(" ", "&nbsp;") + '</a> ' +
          '- <a class="igb" href="javascript:CCPEVE.showFitting(\'' + data.fit + '\')">' + data.ship + '</a>'
        );
      }
    })
    {% else %}
    efq.filter('character', function($sce) {
      return function(data) {
        return $sce.trustAsHtml('<a class="igb" href="javascript:CCPEVE.showInfo(1377, ' + data.charid + ')">' + data.name.replace(" ", "&nbsp;") + '</a>');
      }
    })
    {% end %}

    var types = {
      10: "{{ _('VG') }}",
      20: "{{ _('AS') }}",
      40: "{{ _('HQ') }}",
    };

    efq.filter('fleet_type', function() {
      return function(t) {
        if (types[t]) {
          return types[t];
        } else {
          return t;
        }
      }
    });

    efq.controller('EFQCtrl', function($scope) {

      $scope.types = types;

      if (window.CCPEVE != undefined) {
        $scope.CCPEVE = CCPEVE;
      };

      var poll_actions = {

        reload: function (data) {
          setTimeout(function(){document.location.reload()}, 1000);
        },

        user_waitlist_changed: function(data) {
          $scope.characters[data.charname].waitlist = data.waitlist;
          var i = $scope.waitlist.indexOf(data.charname);
          if (data.waitlist.length == 0) {
            if (i != -1) {
              $scope.waitlist.splice(i, 1);
            }
          } else {
            if (i == -1) {
              $scope.waitlist.push(data.charname);
            }
          }
        },

        new_fleet: function(data) {
          $scope.fleets[data.fleet.fc] = data.fleet;
        },

        remove_fleet: function(data) {
          delete $scope.fleets[data.fleet];
          if ($scope.view == data.fleet) {
            $scope.view = 'fleets';
          }
        },

        update_character: function(data) {
          var character = $scope.characters[data.charname];
          ['fleet', 'waitlist', 'fit', 'ship'].forEach(function(key) {
            if (data[key] !== undefined) {
              character[key] = data[key];
            }
          })
        },

        update_fleet: function(data) {
          var fleet = $scope.fleets[data.fc.name];
          ['fleet', 'waitlist', 'fit', 'ship'].forEach(function(key) {
            if (data[key] !== undefined) {
              character[key] = data[key];
            }
          })
        },

        {% if character %}
        <!-- Character related stuff -->

        add_message: function(data) {
          $scope.messages.push(data.message);
        },

        read_message: function(data) {
          for (var i=0; i<$scope.messages.length; i++) {
            if ($scope.messages[i].uuid == data.uuid) {
              $scope.messages.splice(i, 1);
              break;
            }
          }
        },

        {% if character.is_fc %}
        <!-- FC-only stuff -->

        mail_auth_request: function (data) {
          var msg = "{{ _('Your auth link is:') + ' http://' + request.host + '/login/token/' }}" + data.token + ".";
          CCPEVE.sendMail(data.character.charid, "{{ _('EFQ Authentication') }}", msg);
        },

        {% end %}
        {% end %}
      };

      function polling() {
          $.post('/poll')
          .done(function(events) {
            setTimeout(polling, 300);
            events.forEach(function(data) {
              if (poll_actions[data.action]) {
                console.log('Handling ' + data.action + ' event:', data);
                poll_actions[data.action](data);
              } else {
                console.log('Unknown event:', data);
              }
            })
            $scope.$digest();
          })
          .fail(function() {
            setTimeout(polling, 5000);
          })
      }

      $(polling);

      var hasOwnProperty = Object.prototype.hasOwnProperty;

      $scope.isEmpty = function(obj) {
          if (obj == null) return true;
          if (obj.length > 0)    return false;
          if (obj.length === 0)  return true;
          for (var key in obj) {
              if (hasOwnProperty.call(obj, key)) return false;
          }
          return true;
      }

      $scope.setView = function(view) {
        $scope.view = view;
        document.cookie = 'view=' + escape(view);
      }

      $scope.view = unescape(getCookie('view'));
      if (!$scope.view) {
        $scope.setView('fleets');
      }
      $scope.locale = "{{ locale.code }}";
      $scope.eve = {% raw json_encode(eve) %};
      $scope.characters = {% raw json_encode(characters) %}
      $scope.waitlist = {% raw json_encode(waitlist) %}
      $scope.fleets = {% raw json_encode(dict((fleet.fc.name, fleet.to_json()) for fleet in fleets.values())) %};

      {% if character %}
      <!-- Character related stuff -->

      {% if character.is_fc %} 
      <!-- FC-only stuff -->

      $scope.new_fleet_form = {fleet_type: '10'};

      $scope.newFleet = function() {
        $.post('/fleets', {fleet_type: $scope.new_fleet_form.fleet_type});
        $scope.setView("{{ character.name }}");
      }

      $scope.fleetInvite = function(name) {
        {% if trusted %}
        $.post('/invite', {character: name});
        CCPEVE.inviteToFleet(parseInt($scope.characters[name].charid));
        {% else %}
        CCPEVE.requestTrust('http://{{ request.host }}');
        {% end %}
      }

      $scope.fleetDecline = function(name) {
        $.post('/decline', {character: name});
      }

      <!-- end of FC-only stuff -->
      {% end %}

      $scope.character = $scope.characters["{{ character.name }}"];
      $scope.messages = {% raw json_encode(character.messages) %};

      $scope.toggle_waitlist = function(fleet_type) {
        $.post('/waitlist', {fleet_type: fleet_type});
      }


      $scope.readMessage = function(msg) {
        $.post('/message', {uuid: msg.uuid});
      }

      $scope.shipIs = function (ships) {
        return function(charname) {
          return ships.indexOf($scope.characters[charname].ship) != -1;
        }
      }

      $scope.shipIsNot = function (ships) {
        return function(charname) {
          return ships.indexOf($scope.characters[charname].ship) == -1;
        }
      }

      $scope.joinFleet = function (fleet) {
        $.post('/join', {fleet: fleet.fc});
      }

      $scope.disbandFleet = function () {
        $.post('/disband');
      }

      <!-- Character related stuff -->
      {% end %}

    });
    </script>

    {% block addjs %}
    {% end %}

  </head>

  <body ng-controller="EFQCtrl">

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <div class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse"><i class="fa fa-bars"></i></div>
        <a class="navbar-brand" href="/">{{ title }}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://raisa.su/">{{ _('Home') }}</a></li>
          <li class="active"><a href="/">{{ _('EFQ') }}</a></li>
          <li><a href="http://raisa.su/rules">{{ _('Rules') }}</a></li>
          <li><a href="http://raisa.su/fits">{{ _('Fits') }}</a></li>
          <li><a href="http://raisa.su/srp">{{ _('SRP') }}</a></li>
          <li><a href="http://raisa.su/guides">{{ _('Guides') }}</a></li>
          <li><a href="http://raisa.su/about">{{ _('About us') }}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if character is not None %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ character.name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% if character.is_admin %}<li><a href="/admin">{{ _('Admin') }}</a></li>{% end %}
              <li><a href="/fit">{{ _('Fit') }}</a></li>
              <li><a href="/logout">{{ _('Logout') }}</a></li>
            </ul>
          </li>
          {% elif trusted %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ eve['charname'] }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/login">{{ _('Authenticate') }}</a></li>
            </ul>
          </li>
          {% end %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>

    <div class="container">

      <div class="alert alert-{{! msg.cls }}" ng-repeat="msg in messages">
          <button type="button" class="close" ng-click='readMessage(msg)'>&times;</button>
          <p ng-bind="msg.content"></p>
      </div>

      <div class="row">
        <div class="col-xs-12">
          {% if character %}
          <div class="pull-right">
            <div class="btn-group" ng-show="!character.fleet">
              <button class="btn"
                      ng-class="{'btn-success': character.waitlist.indexOf('10') != -1,
                                 'btn-default': character.waitlist.indexOf('10') == -1}"
                      ng-click="toggle_waitlist(10)" />{{ _('VG') }}</button>
              <button class="btn"
                      ng-class="{'btn-success': character.waitlist.indexOf('20') != -1,
                                 'btn-default': character.waitlist.indexOf('20') == -1}"
                      ng-click="toggle_waitlist(20)" />{{ _('AS') }}</button>
              <button class="btn"
                      ng-class="{'btn-success': character.waitlist.indexOf('40') != -1,
                                 'btn-default': character.waitlist.indexOf('40') == -1}"
                      ng-click="toggle_waitlist(40)" />{{ _('HQ') }}</button>
            </div>
            <button class="btn"
                    ng-show="character.fleet"
                    ng-class="{'btn-info': !inQueue(character), 'btn-default': inQueue(character)}"
                    ng-click="setView(character.fleet)">
                <i class="fa fa-male"></i>
                <span ng-bind="character.fleet"></span>
            </button>
          </div>
          {% else %}
          <div class="well">{% raw _('You have to <a href="/login">authenticate</a> to join a waitlist.') %}</div>
          {% end %}

          <div class="btn-group">
            <button class="btn btn-default" ng-class="{'btn-primary': view=='fleets'}" ng-click="setView('fleets')">{{ _('Fleets') }}</button>
            <button class="btn btn-default" ng-class="{'btn-primary': view=='waitlist'}" ng-click="setView('waitlist')">{{ _('Waitlist') }}</button>
            {% if character and character.is_fc %}
            <button class="btn btn-default" ng-class="{'btn-primary': view=='fc'}" ng-click="setView('fc')">{{ _('FC') }}</button>
            {% end %}
          </div>
        </div>
      </div>

      <br/>

      <div ng-show="view=='fleets'">
        <div class="row" ng-show='!isEmpty(fleets)'>
          <div class="btn-group btn-group-vertical col-xs-12">
            <button class="btn btn-default" ng-repeat="fleet in fleets" ng-click="$parent.setView(fleet.fc)">
              <span ng-bind="fleet.fc"></span>
              <span> - </span>
              <span ng-bind="fleet.fleet_type | fleet_type"></span>
              <span ng-show="fleet.system">- {{! fleet.system }}</span>
            </button>
          </div>
        </div>
        <div class="well" ng-show="isEmpty(fleets)">{{ _('There are no fleets now, or FCs are not using EFQ.') }}</div>
      </div>

      <div ng-show="view=='waitlist'">
        <div ng-show="!isEmpty(waitlist)">
          <!--<div ng-repeat="ship in ['Vindicator', 'Machariel', 'Nightmare', 'Basilisc', 'Scimitar']">-->
            <div class="panel panel-default">
              <!--<div class="panel-heading">{{! ship }}:</div>-->
              <ul class="list-group">
                <!--<li class="list-group-item" ng-repeat="i in waitlist | filter:shipIs([ship])">-->
                <li class="list-group-item" ng-repeat="i in waitlist">
                  <span ng-bind-html="characters[i] | character"></span>
                  <div class="pull-right">
                    <button class="btn btn-xs btn-primary" ng-click='fleetInvite(i)' ><i class="fa fa-sign-in"></i></button>
                    <button class="btn btn-xs btn-danger" ng-click='fleetDecline(i)' ><i class="fa fa-wheelchair"></i></button>
                  </div>
                </li>
              </ul>
            </div>
          <!--</div>-->
          <!--<div class="panel panel-default">
            <div class="panel-heading">{{ _('Other') }}:</div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="i in waitlist | filter:shipIsNot(['Vindicator', 'Machariel', 'Nightmare', 'Basilisc', 'Scimitar'])">
                <span ng-bind-html="characters[i] | character"></span>
                <div class="pull-right">
                  <button class="btn btn-xs btn-success" ng-click='fleetInvite(i)' ><i class="fa fa-check"></i></button>
                  <button class="btn btn-xs btn-danger" ng-click='fleetDecline(i)' ><i class="fa fa-wheelchair"></i></button>
                </div>
              </li>
            </ul>
          </div>-->
        </div>
        <div ng-show="isEmpty(waitlist)" class="well">
          {{ _("Waitlist is empty.") }}
        </div>
      </div>

      <div ng-repeat="fleet in fleets" ng-show="$parent.view==fleet.fc">
        <div class="well">
          {{ _('FC:') }} <a class="igb" ng-click="CCPEVE.showInfo(1377, characters[fleet.fc].charid)" ng-bind="fleet.fc"></a> |
          {{ _('System:') }} <a class="igb" ng-click="CCPEVE.showInfo(5, fleet.systemid)" ng-bind="fleet.system"></a>
        </div>
        <p ng-show="!character.fleet"><button class="btn btn-default" ng-click="joinFleet(fleet)">{{ _('Apply to this particular fleet') }}</button></p>
        <div ng-repeat="ship in ['Vindicator', 'Machariel', 'Nightmare', 'Basilisc', 'Scimitar']">
          <div class="panel panel-default">
            <div class="panel-heading">{{! ship }}s:</div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="i in fleet.members | filter:shipIs(ship)" ng-bind-html="characters[i] | character"></li>
            </ul>
          </div>
        </div>
      </div>

      {% if character and character.is_fc %}
      <div ng-show="view=='fc'">
        <div class="panel panel-primary" ng-show="!character.fleet">
          <div class="panel-heading">{{ _('New fleet') }}</div>
          <div class="panel-body">
            <form method='POST'>
              <div class="form-group">
                <select class='form-control' ng-model="new_fleet_form.fleet_type">
                  <option value='10' selected>{{! types['10'] }}</option>
                  <option value='20'>{{! types['20'] }}</option>
                  <option value='40'>{{! types['40'] }}</option>
                </select>
              </div>
              <button type="submit" class="btn btn-default" ng-click="newFleet()">{{ _('Form') }}</button>
            </form>
          </div>
        </div>

        <div ng-show="character.fleet">
          <div class="panel panel-primary" ng-show="fleets[character.fleet].fcs.indexOf(character.name) != -1">
            <div class="panel-heading">{{ _('Fleet') }}</div>
            <div class="panel-body">
              <form method='POST'>
                <p>You are a FC.</p>
                <button type="submit" class="btn btn-danger" ng-click="disbandFleet()">{{ _('Disband') }}</button>
              </form>
            </div>
          </div>
          <div class="well" ng-show="fleets[character.fleet].fcs.indexOf(character.name) == -1">
            {{ _("You are not a FC in fleet where you are") }}
          </div>
        </div>

      </div>
      {% end %}

      <footer>
        <hr/>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">{{ _("Back to top") }}</a></li>
              <li class="pull-right" ng-show="locale!='ru_RU'"><a href="javascript:document.cookie='locale=ru_RU';document.location.reload()">Русский&nbsp;<img src="{{ static_url('icons/ru_RU.png') }}"></a></li>
              <li class="pull-right" ng-show="locale!='en_US'"><a href="javascript:document.cookie='locale=en_US';document.location.reload()">English&nbsp;<img src="{{ static_url('icons/en_US.png') }}"></a></li>
              <li><a href="https://github.com/raisa-shield/efq/">GitHub</a></li>
            </ul>
            <p>{% raw _('Made by <a href="http://eve.ei-grad.ru" rel="nofollow">Andrew Grigorev</a>. Contact him at <a href="mailto:andrew@ei-grad.ru">andrew@ei-grad.ru</a>.') %}</p>
            <p>{% raw _('Code released under the <a href="https://github.com/raisa-shield/efq/LICENSE">MIT License</a>.') %}</p>
            <p>{% raw _('Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a> and <a href="http://bootswatch.com/cyborg/">Cyborg</a> theme. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Looks best with Eve Sans Neue font installed.') %}</p>
          </div>
        </div>
      </footer>

    </div>

  </body>
</html>
