<!DOCTYPE html>
<html ng-app="efqApp">

  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>

    <script>
    function getCookie(name) {
      var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
      return r ? r[1] : undefined;
    }
    function deleteCookie(name) {
      document.cookie = name+'="";-1; path=/';
    }
    $.ajaxSetup({headers: {'X-XSRFToken': getCookie("_xsrf")} });
    </script>

  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <div class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse"><i class="fa fa-bars"></i></div>
        <a class="navbar-brand" href="/">{{ title }}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://raisa.su/">{{ _('Home') }}</a></li>
          <li class="active"><a href="/">{{ _('EFQ') }}</a></li>
          <li><a href="http://raisa.su/rules">{{ _('Rules') }}</a></li>
          <li><a href="http://raisa.su/fits">{{ _('Fits') }}</a></li>
          <li><a href="http://raisa.su/srp">{{ _('SRP') }}</a></li>
          <li><a href="http://raisa.su/guides">{{ _('Guides') }}</a></li>
          <li><a href="http://raisa.su/about">{{ _('About us') }}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if character is not None %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ character.name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% if character.is_admin %}<li><a href="/admin">{{ _('Admin') }}</a></li>{% end %}
              <li><a href="/fit">{{ _('Fit') }}</a></li>
              <li><a href="/logout">{{ _('Logout') }}</a></li>
            </ul>
          </li>
          {% elif trusted %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ eve['charname'] }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/login">{{ _('Authenticate') }}</a></li>
            </ul>
          </li>
          {% end %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>

    <div class="container">

      {% for msg in messages %}
      <div class="alert alert-{{ msg['cls'] }}">
          <p>{{ msg['content'] }}</p>
      </div>
      {% end %}

      {% block content %}
      {% end %}

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <hr/>
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">{{ _("Back to top") }}</a></li>
              <li class="pull-right" ng-show="locale!='ru_RU'"><a href="javascript:document.cookie='locale=ru_RU';document.location.reload()">Русский&nbsp;<img src="{{ static_url('icons/ru_RU.png') }}"></a></li>
              <li class="pull-right" ng-show="locale!='en_US'"><a href="javascript:document.cookie='locale=en_US';document.location.reload()">English&nbsp;<img src="{{ static_url('icons/en_US.png') }}"></a></li>
              <li><a href="https://github.com/raisa-shield/efq/">GitHub</a></li>
            </ul>
            <p>{% raw _('Made by <a href="http://eve.ei-grad.ru" rel="nofollow">Andrew Grigorev</a>. Contact him at <a href="mailto:andrew@ei-grad.ru">andrew@ei-grad.ru</a>.') %}</p>
            <p>{% raw _('Code released under the <a href="https://github.com/raisa-shield/efq/LICENSE">MIT License</a>.') %}</p>
            <p>{% raw _('Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a> and <a href="http://bootswatch.com/cyborg/">Cyborg</a> theme. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Looks best with Eve Sans Neue font.') %}</p>
          </div>
        </div>
      </footer>

    </div>

  </body>
</html>
