<!DOCTYPE html>
<html>
  <head>
    <title>{{ TITLE }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ TITLE }}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Флоты</a></li>
          <li><a href="http://raisa.su/rules">Правила</a></li>
          <li><a href="http://raisa.su/fits">Фиты</a></li>
          <li><a href="http://raisa.su/srp">Страхование</a></li>
          <li><a href="http://raisa.su/guides">Руководства</a></li>
          <li><a href="http://raisa.su/about">О канале</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if character is not None %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ character.name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% if character.is_admin %}<li><a href="/admin">Администрирование</a></li>{% end %}
              <li><a href="/fit">Фит</a></li>
              <li><a href="#" onclick='javascript:logout()'>Выйти</a></li>
            </ul>
          </li>
          {% end %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>

    <div class="container">

      {% for msgid, message, cls in messages %}
      <div id="{{ msgid }}" class="alert alert-{{ cls }}">
          <button type="button" class="close" onclick='javascript:readMessage("{{ msgid }}")'>&times;</button>
          <p>{{ message }}</p>
      </div>
      {% end %}

      {% block content %}
      {% end %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <script>
    function getCookie(name) {
      var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
      return r ? r[1] : undefined;
    }
    function deleteCookie(name) {
      document.cookie = name+'="";-1; path=/';
    }
    function readMessage(msg) {
      $.post('/read', {msg: msg});
      $('#' + msg).remove();
    }
    function logout() {
      deleteCookie("character");
      document.location = "/";
    }
    $.ajaxSetup({headers: {'X-XSRFToken': getCookie("_xsrf")} });
    </script>

    {% if character %}
    <script>
    function polling() {
        $.get('/poll')
        .done(function() {
          {% if reload_on_poll %}
          document.location.reload();
          {% else %}
          setTimeout(polling, 500);
          {% end %}
        })
        .fail(function() {
          setTimeout(polling, 5000);
        })
    }
    $(polling);
    </script>
    {% end %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>

    {% block addjs %}
    {% end %}

  </body>
</html>
