<!DOCTYPE html>
<html>
  <head>
    <title>{{ TITLE }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/style.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ TITLE }}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if character is not None %}
          {% if character.is_admin %}<li><a href="/admin">Админка</a></li>{% end %}
          <li><a href="#">Персонаж: {{ character.name }}</a></li>
          {% else %}
          <li><a href="#">Персонаж: 'Неизвестен'</a></li>
          {% end %}
        </ul>
      </div>
    </div>

    <div class="container">
      {% block content %}
      {% end %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <script>
    function getCookie(name) {
      var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
      return r ? r[1] : undefined;
    }
    $.ajaxSetup({headers: {'X-XSRFToken': getCookie("_xsrf")} });
    </script>

    {% if character %}
    <script>
    $(function(){
        $.get('/poll', function() {
          document.location.reload();
        })
    })
    </script>
    {% end %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {% comment <script src="{{ static_url('js/bootstrap.min.js') }}"></script> %}

    {% block addjs %}
    {% end %}

  </body>
</html>
