{% extends "base.html" %}

{% block content %}

{% module FleetForm("Ваш флот", "type", "Сохранить", fleet) %}

<br/>

{% if fleet.queue %}
<div class="panel panel-primary">
<div class="panel-heading">Очередь ({{ len(fleet.queue) }} человек):</div>

<ol class="list-group">
{% for i in fleet.queue %}
<li class="list-group-item">
<a onclick='javascript:CCPEVE.showInfo(1377, "{{ i.char_id }}");'>{{ i.name }}</a> - 
<a onclick='javascript:CCPEVE.showFitting("{{ i.fit }}")'>{{ i.ship_type }}</a>
<button class="btn btn-xs btn-primary pull-right" onclick='javascript:inviteToFleet("{{ i.name }}", "{{ i.char_id }}")'><i class="fa fa-check"></i> Invite</button>
</li>
{% end %}
</ol>

</div>

{% else %}
<p>Очередь в этот флот пуста.</p>
{% end %}

<form method="POST" action="dismiss">
  {% module xsrf_form_html() %}
  <button type="submit" class="btn btn-danger">Распустить очередь</button>
</form>

{% end %}


{% block addjs %}
<script>
function inviteToFleet(name, char_id) {
  CCPEVE.requestTrust('http://{{ request.host }}');
  CCPEVE.inviteToFleet(parseInt(char_id));
  $.post('/pop', {character: name});
}
</script>
{% end %}
