{% extends "base.html" %}

{% block content %}

{% module FleetForm(legend="Ваш флот", action="", submit="Сохранить", fleet=fleet) %}

<br/>

{% if fleet['queue'] %}
<h4>Очередь ({{ len(fleet['queue']) }} человек):</h4>

<ol>
{% for character in fleet['queue'] %}
<li><a class="eve-invite-to-fleet">{{ character }}</a></li>
{% end %}
</ol>

{% else %}
<p>Очередь в этот флот пуста.</p>
{% end %}

<br/>

<form method="POST" action="dismiss">
  <button type="submit" class="btn btn-danger">Распустить очередь</button>
</form>

{% end %}


{% block addjs %}
<script>
$(function() {
  $('.eve-invite-to-fleet').click(function(btn) {
    var character = $(btn.target).text();
    CCPEVE.requestTrust('http://localhost:8888');
    $.get('/char_id', { name: character })
      .done(function(result) {
        CCPEVE.inviteToFleet(parseInt(result));
      });
  });
});
</script>
{% end %}
