{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    {% if fleets %}
    <div class="panel panel-primary">
      <div class="panel-heading">Флоты:</div>
      <ul class="list-group">
      {% for fleet in fleets %}
        <li class="list-group-item">
          <form class="form-inline" style="display: inline" method="POST" action="join">
            {% module xsrf_form_html() %}
            <input type='hidden' name='action' value='join' />
            <input type='hidden' name='fc' value='{{ fleet.fc.name }}' />
            <div class="form-group">
              <button type="submit" class="btn btn-default btn-xs"><i class="fa fa-sign-in"></i></button>
            </div>
          </form>
          {{ fleet.fc.name }} - {{ fleet.fleet_type }} - запас  {{ len(fleet.queue) }}
        </li>
      {% end %}
      </ul>
    </div>
    {% else %}
      <p>Флотов сейчас нет, либо ФК не используют EFQ.</p>
    {% end %}
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Мой фит:</div>
      <div class="panel-body">
        {% if character.fit %}
          {% module Fit(character, True) %}
        {% else %}
          <a href="/fit">Загрузить</a>
        {% end %}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Сейчас Online:</div>
      <!-- TODO: сгруппировать по кораблям! -->
      <div class="panel-body">
      {{ ', '.join(i.name for i in sorted(ONLINE, key=lambda x: x.name)) }}
      </div>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-6">
    <form method='POST' class="form-inline">
      <legend>Новый флот</legend>
      {% module xsrf_form_html() %}
      <div class="form-group">
        <select name='fleet_type' class='form-control input-sm'>
          {% for n, i in enumerate(FLEET_TYPES) %}
          <option value='{{ i }}'{% if n == 0 %} selected{% end %}>{{ i }}</option>
          {% end %}
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="form-control btn btn-default btn-sm input-sm">Создать</button>
      </div>
    </form>
  </div>
</div>

{% end %}
