{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    {% if fleets %}
    <div class="panel panel-primary">
      <div class="panel-heading">Флоты:</div>
      <ul class="list-group">
      {% for fleet in fleets %}
        <li class="list-group-item">
          <form class="form-inline" style="display: inline" method="POST" action="join">
            {% module xsrf_form_html() %}
            <input type='hidden' name='action' value='join' />
            <input type='hidden' name='fc' value='{{ fleet.fc.name }}' />
            <div class="form-group">
              <button type="submit" class="btn btn-default btn-xs"><i class="fa fa-sign-in"></i></button>
            </div>
          </form>
          {% module Character(fleet.fc) %} - {{ fleet.fleet_type }} - запас  {{ len(fleet.queue) }}
        </li>
      {% end %}
      </ul>
    </div>
    {% else %}
    <div class="well">Флотов сейчас нет, либо ФК не используют EFQ.</div>
    {% end %}
  </div>
  <div class="col-md-6">
    <div class="panel-group" id="accordion">
      {% if character in FCS %}
      <div class="panel panel-primary">
        <div class="panel-body" id="fleet-panel">
          <form method='POST' class="form-inline">
            {% module xsrf_form_html() %}
            <div class="form-group">
              <select name='fleet_type' class='form-control'>
                {% for n, i in enumerate(FLEET_TYPES) %}
                <option value='{{ i }}'{% if n == 0 %} selected{% end %}>{{ i }}</option>
                {% end %}
              </select>
            </div>
            <button type="submit" class="btn btn-default">Создать новый флот</button>
          </form>
        </div>
      </div>
      {% end %}
      <div class="panel panel-default">
        <div class="panel-body" id="fit-panel">
          Фит: {% if character.fit %}{% module Fit(character, True) %}{% else %}<a href="/fit">Загрузить</a>{% end %}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse"
          data-parent="#accordion" href="#online-panel">Online: {{ len(ONLINE) }}</div>
        <!-- TODO: сгруппировать по кораблям! -->
        <div class="panel-body collapse" id="online-panel">
        {% for n, i in enumerate(sorted(ONLINE, key=lambda x: x.name)) %}
        {% module Character(i) %}{% if n != len(ONLINE) - 1 %}, {% end %}
        {% end %}
        </div>
      </div>
    </div>
  </div>
</div>

{% end %}
