<form method='POST' class="form-inline" action="{{ action }}">
  {% if legend %}
  <legend>{{ legend }}</legend>
  {% end %}
  {% module xsrf_form_html() %}
  <div class="row">
    <div class="form-group col-xs-6">
      <select name='fleet_type' class='form-control'>
        {% for i in FLEET_TYPES %}
        <option value='{{ i }}'{% if fleet.fleet_type == i %} selected{% end %}>{{ i }}</option>
        {% end %}
      </select>
    </div>
    <div class="form-group col-xs-6">
      <button type="submit" class="btn btn-default">{{ submit }}</button>
    </div>
  </div>
</form>
