{% extends "base.html" %}

{% block content %}

{% if channel_auth == "failed" %}
<div class="alert alert-danger">{{ _("Can't find the key! Try to wait a minute.") }}</div>
{% end %}

{% if mail_auth == "asked" %}
<div class="alert alert-success">{{ _("Request to send an ingame e-mail with authentication link has been sent to %s. Wait for email and follow the link contained in it. If you will not receive that e-mail in a couple of minutes, then you can contact this FC on our TeamSpeak server or try to request an authentication link again.") % mail_auth_fc }}</div>
{% end %}

<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">{{ _('Authentication via chat channel (using eve-live.com)') }}</h3></div>
  <div class="panel-body">
    <p>
      1. {{ _('Send the following key to') }}
      <a href='javascript:joinChannel("{{ auth_channel }}")'
        >{% raw escape(auth_channel).replace(' ', '&nbsp;') %}</a>:
    </p>
    <pre>{{ key }}</pre>
    <p>2. {{ _('Wait some minutes.') }}</p>
    <p>3. {{ _('Click the "Check" button.') }}</p>
    <form method="POST" action="/login/channel_auth">
      {% module xsrf_form_html() %}
      <button class="btn" type="submit">{{ _('Check') }}</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">{{ _('Authentication via fleet commander (using EVE Mail)') }}</h3></div>
  <div class="panel-body">
    {% if online_fcs %}
    <p>
      {{ _('There is %d FC online now. You can ask him to send an ingame email with authentication link for you.',
           'There are %d FC online now. You can ask one of them to send an ingame email with authentication link for you.',
           online_fcs) % online_fcs }}
    </p>
      <form method="POST" action="/login/mail_auth" class="form">
        {% module xsrf_form_html() %}
        {% if not trusted %}
        <div class="form-group">
          <label for="charname">{{ _('Enter your character name:') }}</label>
          <input id="charname" name="charname" class="form-control" placeholder="{{ _('Character name') }}"/>
        </div>
        {% end %}
        <button class="btn" type="submit">{{ _('Ask') }}</button>
      </form>
    {% else %}
    {{ _('There are no FC online now. This method would not work without a FC.') }}
    {% end %}
  </div>
</div>

{% end %}
