{% extends 'base.html' %}

{% block content %}
<p>Вы стоите в очереди во флот.</p>
<p>ФК: <b>{{ fleet.fc.name }}</b></p>
<p>Канал в TeamSpeak 3: <b>{{ fleet.ts_channel }}</b> (сервер: voice.raisa.su)</p>
<p>Система: <b>{{ fleet.solar_system }}</b> - {{ fleet.level }}</p>
<p>Ваша позиция: <b>{{ queue.index(character) + 1 }}</b> из {{ len(queue) }}</p>

<br/>

<form method="POST" action="leave">
  {% module xsrf_form_html() %}
  <button type="submit" class="btn btn-default">Покинуть очередь</button>
</form>
{% end %}
