{% extends 'base.html' %}

{% block content %}
<div class="well">
  <p>Вы стоите в очереди во флот. Ваша позиция: <b>{{ queue.index(character) + 1 }}</b> из {{ len(queue) }}</p>
  <p>ФК: <b>{{ fleet.fc.name }}</b><br/>Тип флота: <b>{{ fleet.fleet_type }}</b></p>
  <form method="POST" action="leave">
    {% module xsrf_form_html() %}
    <button type="submit" class="btn btn-default">Покинуть очередь</button>
  </form>
</div>

<div class="panel panel-primary">
<div class="panel-heading">Очередь ({{ len(fleet.queue) }} человек):</div>
<ol class="list-group">
{% for i in fleet.queue %}
<li class="list-group-item">
<a onclick='javascript:CCPEVE.showInfo(1377, "{{ i.char_id }}");'>{{ i.name }}</a>
</li>
{% end %}
</ol>
</div>
{% end %}
